/* html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
} */

.bodyImage {
    /* The image used */
    /* background: url(../image/bg.jpg); */
    background: url(../image/classroom.jpg);
    /* Full height */
    /* height: 100%; */
    /* Center and scale the image nicely */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.userImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px!important;
    height: 120px!important;
}